.form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

    .form-row:last-of-type {
        margin-bottom: 0;
    }

        .label {
            display: inline-block;
            width: 100%;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .input {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            border: none;
            border-bottom: 1px solid #777;
        }
        .input:focus {
            outline: 2px solid #0069ba;
        }


        .form-row > .text {
            display: inline-block;
            padding: 10px;
            line-height: 20px;
            font-size: 18px;
        }

        .form-row > .link {
            display: inline-block;
            padding: 10px;
            line-height: 20px;
            font-size: 18px;
            color: #0069ba;
        }

        .form-row > .link:hover {
            color: red;
            text-transform: uppercase;
        }